extends layout

block content
  h1= title
  div(class='row col-lg')
    table(class="table table-striped table-bordered table-hover")
      thead
        tr
          th Track Feature
          th Value
      tbody
        -for(var prop in data)
          tr
            td
              text= prop
            td
              text= data[prop]

